.chat-window{
	width: 100%;
	height: 500px;
	background-color: #CCCCCC50;
	border: 1px solid #CCC;
	border-radius: 3px; 
	overflow-y: auto; 
}
.chat-field{
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-bottom: 8px;
	width: 100%;
	padding: 5px;
}